services:
  app:
    build: .
    container_name: ecopulse_backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/ecopulse_db?schema=public
      PORT: 3000
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: ecopulse_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecopulse_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
